.venv/
catboost_info/

data/raw/CIC-IDS2018/*
!data/raw/CIC-IDS2018/.gitkeep
data/cleaned/CIC-IDS2018/*
!data/cleaned/CIC-IDS2018/.gitkeep

results/ablation_study/confusion_matrices/*
!results/ablation_study/confusion_matrices/.gitkeep
results/ablation_study/roc_pr_curves/*
!results/ablation_study/roc_pr_curves/.gitkeep

results/base_re_evaluation/confusion_matrices/*
!results/base_re_evaluation/confusion_matrices/.gitkeep
results/base_re_evaluation/roc_pr_curves/*
!results/base_re_evaluation/roc_pr_curves/.gitkeep

results/meta_feature_selection/confusion_matrices/*
!results/meta_feature_selection/confusion_matrices/.gitkeep
results/meta_feature_selection/roc_pr_curves/*
!results/meta_feature_selection/roc_pr_curves/.gitkeep

results/meta_re_evaluation/base_predictions/*
!results/meta_re_evaluation/base_predictions/.gitkeep
results/meta_re_evaluation/confusion_matrices/*
!results/meta_re_evaluation/confusion_matrices/.gitkeep
results/meta_re_evaluation/meta_predictions/*
!results/meta_re_evaluation/meta_predictions/.gitkeep
results/meta_re_evaluation/roc_pr_curves/*
!results/meta_re_evaluation/roc_pr_curves/.gitkeep

results/meta_re_evaluation_backup/base_predictions/*
!results/meta_re_evaluation_backup/base_predictions/.gitkeep
results/meta_re_evaluation_backup/confusion_matrices/*
!results/meta_re_evaluation_backup/confusion_matrices/.gitkeep
results/meta_re_evaluation_backup/roc_pr_curves/*
!results/meta_re_evaluation_backup/roc_pr_curves/.gitkeep

paper/

*.csv
*.png
*.zip
*.tar.xz